*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    height: 60px;
    width: 100%;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer{
    height: 60px;
    width: 100%;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.footer__link{
    list-style: none;
}

.nav{
    width: 100%;
}
.nav__lista{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

}
.nav__enlace{
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
}
ul{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(235, 229, 229);
}
footer{
    background-color:white;
    color:gray;
}
h1{
    color: #A50343;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h2{
    color: rgb(119, 35, 35);
    font-size: 1rem;
    font-weight: 300;
}
a{
    text-decoration: none;
}
.VOTACION{
    background-color: white;
    border-radius: 10px;
    border: solid;
    border-color: #A50343;
    padding: 16px;
    width: 200px;
    height: 230px;
    margin: 0 auto;
    display: block;
}
.VOTACION__TITULO{
    padding: 16px;
    color: white;
    background-color:#A50343;
    border-radius: 10px;
    top: 16px;
    right: 16px;
    width: 100%;

}
.DEPORTES{
    width: 100%;
    height: 100px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:2rem
}
.DEPORTES__ESTILO{
    background-color:#8AC2EB;
    color: white;
    width: 100%;
    height: 80px;
    border-radius: 1rem;
    text-align: center;
    justify-content:center;
    align-items: center;
    display: flex;
    font-weight: bold;
}
.tituloh{
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 800;
    color: #A50343;

}
.tituloh__p{
    padding: 2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
}
.video{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.video__titulo{
    padding: 1rem;


}
.video__multimeedia{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.niños{
    width: 100%;
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;

}
.niños__img{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.niños__p{
    font-size: 1rem;
    line-height: 1.5;
    width: 50%;
    padding: 2rem;
    text-align: center; ;
}
.drone{
    width: 100%;
    padding: 0;
}
.contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 4rem;
}
.contacto__titulo{
    padding: 2rem;
}
.header__icono{
    display: none;
}

@media screen and (max-width: 600px) {
    .nav{
        display: none;
    }
    .header__icono{
        display: block;
        font-size: 32px;
        color: #A50343;

        
    }
    
}