.contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 2rem
}

     .contacto__titulo{
       grid-area: 1 / 1 / 2 / 2;
       display: flex;
       justify-content: center;
       align-items: center;}


     .contacto__form{
       grid-area: 1 / 2 / 2 / 3;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center ;
     }

